@tailwind components;
@tailwind utilities;

.page-layout {
  width: 100%;
  max-width: 616px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @screen desktop {
    max-width: 1224px;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center;
    @apply self-start py-3 px-4 w-full text-black rounded-lg sm:w-contactButton;
    @apply text-white dark:text-black;
    @apply desktop:border-4 border-transparent hover:border-yellow dark:hover:border-white;
    @apply desktop:hover:rounded-3xl;
  }

  .greeting {
    @apply bg-gradient-to-r from-gray-light-modeText to-gray text-transparent bg-clip-text;
    @apply dark:bg-none dark:text-yellow;
  }

  .mainComponent {
    @apply flex flex-col items-center;
  }

  /* #region Shared */
  
  .socialWrapper {
    @apply p-2 rounded-full border-2 border-gray-dark-1 dark:border-gray-light-1;
    @apply bg-white hover:border-black hover:text-black;
    @apply dark:bg-gray-dark-1 dark:hover:border-white dark:hover:text-white;
  }

  .socialIcon {
    @apply hover:fill-black dark:hover:fill-white;
  }

  /* #endregion */

}

@layer utilities {
  .default-transition {
    @apply transform transition-all duration-300 ease-in-out;
  }

  .svg > circle {
    @apply stroke-gray-light-modeText stroke-[8];
  }
  
  .defaultSize {
    @apply w-12 h-12;
  }
  
  .svg > circle + circle {
    @apply stroke-gray stroke-[8] origin-center -rotate-90;
  
    stroke-linecap: round;
    stroke-dasharray: 145;
    stroke-dashoffset: 145;
    animation: dash 3s linear infinite;
  }
  
  @keyframes dash {
    50% {
      stroke-dashoffset: 0;
    }
  
    98% {
      stroke-dashoffset: -145;
    }
  
    100% {
      stroke-dashoffset: -145;
    }
  }

  .introBtn {
    @apply relative py-2 w-full desktop:w-max desktop:px-12;
    @apply cursor-pointer;
    @apply border-3 dark:border-2 text-center rounded-lg md:text-xl;
    @apply text-black dark:text-yellow border-yellow-light-1 dark:border-white;
  }
  
  .introBtn1 {
    @apply z-1 w-full;
    @apply border-3 border-yellow dark:border-white;
  }
  
  .introBtn1:after {
    @apply absolute bottom-0 left-0 -z-1;
    @apply w-full h-0 content-[""] rounded-md;
    @apply  bg-gray-light-1 dark:bg-gray-dark-1;
    @apply transform transition-all duration-300;
  }
  
  .introBtn1:hover {
    @apply text-black dark:text-yellow;
  }
  
  .introBtn1:hover:after {
    @apply top-0 desktop:h-full;
  }
  
  .introBtn1:active {
    top: 2px;
  }

}
